#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Detection Module"

module = APP_DETECTION
module-str = Detection module
source "subsys/logging/Kconfig.template.log_config"

endmenu
